{% extends 'base.twig.html' %}

{% block body %}
    <h1>Liste des articles</h1>
    <!-- test si empty -->
    <ol>
    {% for article in articles %}
        <a href="{{ path('detail', {id: article.id}) }}" title="{{ article.titre }}"><li>{{ article.titre }}</li></a>
        | <a href="">modifier</a> | <a href="{{ path('supprimer', {id: article.id}) }}">supprimer</a>
    {% endfor %}
    </ol>
{% endblock %}